:root {
  --background: #f5f5f5;
  --primary: #4d4d4d;
  --primary-rgb: 77, 77, 77;
  --background-dark: #282c34;
  --primary-dark: #61dafb;
  --primary-dark-rgb: 97, 218, 251;
  --transition-duration: 300ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--primary);
  transition: all var(--transition-duration);
}

.dark body {
  background-color: var(--background-dark);
  color: var(--primary-dark);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  text-align: center;
  padding-top: 64px;
}

.header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form-container {
  position: relative;
  border: 1px solid var(--primary);
}

.dark .form-container {
  border: 1px solid var(--primary-dark);
}

.checkbox-container {
  position: absolute;
  top: 18px;
  left: 16px;
}

.form {
  flex: 1;
}

.text-input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--background);
  color: var(--primary);
  transition: all var(--transition-duration);
  padding: 16px;
  padding-left: 50px;
  font-size: 1.25rem;
}

.text-input::placeholder {
  opacity: 0.3;
}

.dark .text-input {
  background-color: var(--background-dark);
  color: var(--primary-dark);
}

.todo-list {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

.dark .todo-list {
  border-left: 1px solid var(--primary-dark);
  border-right: 1px solid var(--primary-dark);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 1.25rem;
}

.todo-item:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}

.dark .todo-item:not(:last-child) {
  border-bottom: 1px solid var(--primary-dark);
}

.todo-item.completed {
  text-decoration: line-through;
}

.todo-container {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.checkbox {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  transition: all var(--transition-duration);
  background-color: var(--background);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.dark .checkbox {
  background-color: var(--background-dark);
  border: 1px solid var(--primary-dark);
}

.checkbox:hover {
  background-color: rgba(var(--primary-rgb), 0.25);
}

.dark .checkbox:hover {
  background-color: rgba(var(--primary-dark-rgb), 0.25);
}

.checkbox:after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: -1px;
  width: 5px;
  height: 14px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--primary);
  transform: rotate(45deg);
}

.dark .checkbox:after {
  border-color: var(--primary-dark);
}

input:checked + .checkbox:after {
  display: block;
}

.todo-label {
  flex: 1;
  padding-left: 16px;
}

.todo-input {
  position: absolute;
  top: 50%;
  left: 34px;
  transform: translateY(-50%);
  width: calc(100% - 34px);
  font-size: 1.25rem;
  border: none;
  border-bottom: 1px solid var(--primary);
  background-color: var(--background);
  outline: none;
}

.dark .todo-input {
  border-bottom: 1px solid var(--primary-dark);
  background-color: var(--background-dark);
}

.close-btn {
  display: none;
  width: 16px;
  height: 16px;
  color: var(--primary);
}

.dark .close-btn {
  color: var(--primary-dark);
}

.footer {
  position: relative;
  padding: 16px;
  border: 1px solid var(--primary);
  margin-bottom: 64px;
  height: 96px;
}

.dark .footer {
  border: 1px solid var(--primary-dark);
}

.counter {
  float: left;
}

.tabs {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.tab-item {
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;
}

.tab-item:hover {
  border-color: rgba(var(--primary-rgb), 0.25);
}

.dark .tab-item:hover {
  border-color: rgba(var(--primary-dark-rgb), 0.25);
}

.tab-item.active {
  border-color: rgba(var(--primary-rgb), 0.5);
}

.dark .tab-item.active {
  border-color: rgba(var(--primary-dark-rgb), 0.5);
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn-link:hover {
  text-decoration: underline;
}

.clear-completed-btn {
  float: right;
  color: var(--primary);
}

.dark .clear-completed-btn {
  color: var(--primary--dark);
}

.theme-toggle-btn {
  position: fixed;
  top: 16px;
  right: 16px;
}

.dark .theme-toggle-btn {
  color: var(--primary-dark);
}

.todo-item:hover .close-btn {
  display: block;
}

@media screen and (min-width: 576px) {
  .footer {
    height: 52px;
  }

  .tabs {
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
}
